*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.13);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background-color: aqua;
  border-radius: 10px;
  min-height: 100px;
  min-width: 200px;
}